@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  height: 100%;
  position: relative;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.95em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375;
  background: #fff;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 83%;
  }
}

.no-mar-pad {
  margin: 0 !important;
  padding: 0 !important;
}

.no-mar-padright {
  padding-right: 0;
}

.no-mar-padleft {
  padding-left: 0;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

p {
  line-height: 1.7;
}

button:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

h1, h2 {
  font-weight: 700;
}

h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 3em;
  margin: 10px 0;
  font-weight: 600;
}

h2 {
  font-size: 2.7em;
  margin: 10px 0;
  font-weight: 600;
}

h3 {
  font-size: 2em;
  margin: 10px 0;
  line-height: 1.5;
}

h4 {
  font-size: 1.2em;
  margin: 10px 0;
  line-height: 1.5;
}

::selection {
  background: #133155;
  color: #fff;
}

.container {
  padding: 0 2.5%;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 4%;
  }
}

.secGap {
  padding: 100px 0;
}

@media only screen and (max-width: 600px) {
  .secGap {
    padding: 40px 0;
  }
}

.secTitle h1 {
  font-size: 2.7em;
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .secTitle h1 {
    font-size: 1.9em;
    margin-bottom: 20px;
    padding-bottom: 25px;
  }
}

.secTitle h1::before {
  content: '';
  width: 100px;
  height: 6px;
  background: #133155;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .secTitle h1::before {
    height: 5px;
    width: 60px;
  }
}

.viewBtn {
  background: #3ab88b;
  padding: 13px 43px;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  font-size: 0.9em;
}

.viewBtn:hover {
  background: #34a57c;
  color: #fff;
}

.pageTitle {
  margin-bottom: 50px;
}

.pageTitle.titleCenter {
  text-align: center;
}

.pageTitle.titleCenter h2::before {
  left: 45%;
}

@media only screen and (max-width: 600px) {
  .pageTitle.titleCenter h2::before {
    left: 40%;
  }
}

.pageTitle h2 {
  font-size: 2.2em;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 18px;
  font-weight: bolder;
}

@media only screen and (max-width: 600px) {
  .pageTitle h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

.pageTitle h2::before {
  content: '';
  width: 100px;
  height: 4px;
  background: #3cc091;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .pageTitle h2::before {
    height: 3px;
    width: 60px;
  }
}

.pageTitle h4 {
  margin-top: 0;
  font-size: 16px;
  color: #8c8c8e;
}

@media only screen and (max-width: 600px) {
  .pageTitle h4 {
    font-size: 14px;
  }
}

@media (min-width: 1366px) {
  #navWrap .container {
    max-width: 1260px;
  }
}

.navbar {
  transition: padding 0.9s ease;
  background-color: transparent !important;
  padding: 0;
}

#headerWrap {
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

#headerWrap {
  top: 0;
  width: 100%;
  z-index: 999;
}

@media only screen and (max-width: 600px) {
  #headerWrap {
    background: #fff;
  }
}

@media only screen and (max-width: 600px) {
  #headerWrap .navbar {
    padding: 0;
  }
}

#headerWrap.affix {
  background: #fff;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

#headerWrap.affix .nav-link {
  color: #000;
  padding: 1.8rem 0rem;
}

#headerWrap.affix .navbar-brand .logoBlack {
  display: block;
}

#headerWrap.affix .navbar-brand .logoWhite {
  display: none;
}

#headerWrap.bgChange {
  background: #fff;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

#headerWrap.bgChange .nav-link {
  color: #000;
}

#headerWrap.bgChange .navbar-brand .logoBlack {
  display: block;
}

#headerWrap.bgChange .navbar-brand .logoWhite {
  display: none;
}

.navbar-brand {
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-brand span {
  font-size: 0.9em;
  letter-spacing: 2px;
}

.navbar-brand img {
  height: 60px;
  margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  .navbar-brand img {
    height: 35px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-brand .logoWhite {
    display: none;
  }
}

.navbar-brand .logoBlack {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar-brand .logoBlack {
    display: block;
  }
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #133155;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #133155;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #133155;
}

.navbar-light .navbar-nav .nav-link.show {
  color: #133155;
}

.navbar-light .navbar-nav .show > .nav-link {
  color: #133155;
}

.navbar-light .navbar-nav .nav-link {
  color: #333;
  font-size: 1.1em;
  text-transform: capitalize;
  padding: 1.2rem 0rem;
  margin: 0 1em;
  border-bottom: 3px solid transparent;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.navbar-light .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 10px;
  bottom: 20px;
  left: 50%;
  margin: 0 0 0 -10px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.navbar-light .navbar-nav .nav-link:hover::after, .navbar-light .navbar-nav .nav-link.active::after {
  background: #133155;
  width: 20px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

@media only screen and (max-width: 600px) {
  .navbar-light .navbar-nav .nav-link {
    margin: 0 0em;
    color: #000;
    font-size: 1.2em;
  }
}

.navbar-light .navbar-toggler {
  background: none;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle:hover::before, .dropdown-toggle.active::before {
  color: #133155;
}

.dropdown-toggle i {
  font-size: 11px;
  color: #1d1d1d;
}

.dropdown-menu {
  border-radius: 0;
  border: 0px solid rgba(0, 0, 0, 0.15);
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .dropdown-menu {
    padding: 0;
  }
  .dropdown-menu .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
}

.dropdown-item {
  font-weight: 300;
  padding: 0.5rem 1.5rem;
}

.dropdown-item.active, .dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active {
  text-decoration: none;
  background-color: #2254903d;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: 1s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.45s ease-in-out;
  background: #000;
}

.animated-icon2 span:nth-child(1) {
  width: 100%;
  top: 0px;
}

.animated-icon2 span:nth-child(4) {
  width: 100%;
  top: 20px;
}

.animated-icon2 span:nth-child(2) {
  top: 10px;
}

.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

@media (max-width: 1023px) {
  .navbar-nav {
    height: 100vh !important;
    overflow-y: scroll;
    padding-top: 10px;
  }
  .navbar-nav li .nav-link {
    border-bottom: 1px solid #ddd;
    padding: 0.8rem 1.3rem !important;
  }
  .navbar-nav li .dropdown-menu {
    border-bottom: 1px solid #ddd;
  }
}

@media (max-width: 767px) {
  .navbar.affix {
    z-index: 9999999;
  }
  .navbar-toggler {
    border: 0px solid transparent;
  }
  .navbar-brand {
    font-size: 1.2em !important;
  }
  .navbar-brand span {
    font-size: 0.7em !important;
  }
}

@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .navbar-brand {
    font-size: 1.3em;
  }
  .navbar-brand span {
    font-size: 0.755em;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 0.8em;
  }
}

/*body-fixed*/
html.fixedPosition {
  overflow: hidden;
}

body.fixedPosition {
  overflow: visible;
  height: 100%;
}

/*hamburger-changer-on-click*/
/* Icon 1 */
/* Icon 3*/
.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: 1s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.45s ease-in-out;
  background: #133155;
}

.animated-icon2 span:nth-child(1) {
  width: 100%;
  top: 0px;
}

.animated-icon2 span:nth-child(4) {
  width: 100%;
  top: 20px;
}

.animated-icon2 span:nth-child(2) {
  top: 10px;
}

.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: transparent;
}

.profileHolder .profileInner {
  display: flex;
  justify-content: center;
  position: relative;
}

.profileHolder .profileInner::before {
  content: "";
  position: absolute;
  width: 1px;
  background: #ddd;
  height: 100%;
  left: -15px;
}

.profileHolder .profileInner .profileImage {
  height: 45px;
  width: 45px;
  overflow: hidden;
  border-radius: 50%;
}

.profileHolder .profileInner .profileImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileHolder .profileInner .profileInfo {
  margin-left: 10px;
}

.profileHolder .profileInner .profileInfo h3 {
  margin: 0;
  margin-top: 5px;
  font-size: 1.025em;
  font-weight: 500;
  letter-spacing: 0;
}

.profileHolder .profileInner .profileInfo p {
  margin-bottom: 0;
  font-size: 0.8em;
}

@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    min-width: 235px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #133155;
    padding: 0;
  }
}

.dropdown-item {
  font-weight: 400;
  padding: 0.6rem 1.5rem;
  font-size: 0.95em;
}

#mainBanner {
  color: #fff;
  height: 650px;
}

@media only screen and (max-width: 600px) {
  #mainBanner {
    height: 550px;
  }
}

#mainBanner .container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#mainBanner .container .row {
  height: 100%;
}

#mainBanner .imageHolder {
  height: 100%;
  position: relative;
}

#mainBanner .imageHolder img {
  position: absolute;
  top: 15%;
}

@media only screen and (max-width: 600px) {
  #mainBanner .holderCov {
    display: none;
  }
}

#mainBanner .bannerContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

@media only screen and (max-width: 600px) {
  #mainBanner .bannerContent {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  #mainBanner .bannerContent .form-inline {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  #mainBanner .bannerContent h1 {
    font-size: 1.8em;
  }
}

#mainBanner .bannerContent h1 span {
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  #mainBanner .bannerContent h4 {
    font-size: 1.1em;
  }
}

#mainBanner .bannerContent form {
  margin: 20px 0;
}

#mainBanner .bannerContent .form-control {
  height: 56px;
}

@media only screen and (max-width: 600px) {
  #mainBanner .bannerContent .form-control {
    height: 45px;
  }
}

#mainBanner .bannerContent .searchingFor {
  border: 0;
  border-radius: 0;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  padding: 25px;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  #mainBanner .bannerContent .searchingFor {
    border-bottom-left-radius: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 25px;
    width: 100%;
  }
}

#mainBanner .bannerContent select::-ms-expand {
  display: none;
}

#mainBanner .bannerContent .selectOne {
  position: relative;
}

#mainBanner .bannerContent .selectOne:after {
  position: absolute;
  margin-left: -1.7em;
  font-weight: 600;
  content: "\f078";
  font-size: 13px;
  font-family: "Font Awesome\ 5 Free";
  color: #444;
  margin-top: 2px;
  right: 10px;
  top: 24.5px;
}

@media only screen and (max-width: 600px) {
  #mainBanner .bannerContent .selectOne:after {
    top: 20px;
  }
}

#mainBanner .bannerContent .selectOne select {
  appearance: none;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 56px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
}

#mainBanner .bannerContent .selectOne .form-control {
  width: 200px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

@media only screen and (max-width: 600px) {
  #mainBanner .bannerContent .selectOne .form-control {
    width: 100%;
    height: 48px;
    max-width: 100%;
  }
}

#mainBanner .bannerContent .btn-primary {
  padding: 17px 21px;
  font-size: 0.9em;
  border-radius: 0;
  background: #3cc091;
  border: 1px solid #3cc091;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

@media only screen and (max-width: 600px) {
  #mainBanner .bannerContent .btn-primary {
    padding: 15px 15px;
    font-size: 1em;
    width: 100%;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
  }
}

#mainBanner .bannerContent .seeFor {
  display: flex;
}

#mainBanner .bannerContent .seeFor .playIcon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
}

#mainBanner .bannerContent .seeFor .playIcon .playCover {
  padding: 4px;
  background: #ffffff36;
  border-radius: 50%;
}

#mainBanner .bannerContent .seeFor .playIcon .playCover .playBg {
  color: #3cc091;
  background: #fff;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
  #mainBanner .bannerContent .seeFor .playText {
    text-align: left;
  }
}

#mainBanner .bannerContent .seeFor .playText h4 {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 1.1em;
}

#mainBanner .bannerContent .seeFor .playText p {
  font-size: 0.9em;
  margin-bottom: 0;
}

.form-control:focus {
  box-shadow: 0 0 0 0 #000;
  border-color: #ddd;
}

#catogeriesWrap .box {
  position: relative;
  height: 245px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 30px;
  border: 1px solid #f1f1f1;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

@media only screen and (max-width: 600px) {
  #catogeriesWrap .box {
    margin-bottom: 15px;
  }
}

#catogeriesWrap .box:hover {
  box-shadow: 0 0 20px #00000029;
}

#catogeriesWrap .box:hover .icon {
  top: -80px;
  width: 100%;
  height: 80px;
  border-radius: 50%;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

#catogeriesWrap .box:hover .iconImageWrap {
  margin-bottom: 110px;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

#catogeriesWrap .box:hover .content {
  top: 50px;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

#catogeriesWrap .box .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#catogeriesWrap .box .icon h3 {
  font-size: 1.2em;
}

#catogeriesWrap .box .content {
  position: absolute;
  top: 100%;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}

#catogeriesWrap .box .content h3 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  #catogeriesWrap .box .content h3 {
    font-size: 26px;
  }
}

#catogeriesWrap .box .content p {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

@media only screen and (max-width: 600px) {
  #catogeriesWrap .box .content p {
    font-size: 1.1em;
  }
}

#catogeriesWrap .box .content .explore {
  margin-top: 10px;
  color: #3cc091;
  font-size: 0.9em;
}

@media only screen and (max-width: 600px) {
  #starterWrap {
    background-image: none !important;
  }
}

#starterWrap .starterInner {
  background: #f7f7f7;
  text-align: center;
  padding: 60px;
}

@media only screen and (max-width: 600px) {
  #starterWrap .starterInner {
    padding: 30px;
  }
}

#starterWrap .starterInner h2 {
  font-size: 1.8em;
}

#starterWrap .starterInner p {
  color: #777575;
}

#starterWrap .starterLeft {
  background: #fff;
  padding: 0 5px;
  padding-left: 0;
}

@media only screen and (max-width: 600px) {
  #starterWrap .starterLeft {
    padding: 0 15px;
    padding-left: 15px;
    margin-bottom: 15px;
  }
}

#starterWrap .starterRight {
  background: #fff;
  padding: 0 5px;
  padding-right: 0;
}

@media only screen and (max-width: 600px) {
  #starterWrap .starterRight {
    padding: 0 15px;
    padding-right: 15px;
  }
}

#limitlessWrap .limitlessCover p {
  color: #828284;
}

#limitlessWrap .limitlessCover .pageTitle {
  margin-bottom: 25px;
}

@media only screen and (max-width: 600px) {
  #limitlessWrap .limitlessCover .pageTitle {
    margin-top: 30px;
  }
}

#limitlessWrap .limitlessCover .contentImg {
  margin-top: 30px;
}

#limitlessWrap .limitlessCover .contentImg img {
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  #limitlessWrap .limitlessCover .contentImg img {
    height: 45px;
  }
}

#moreLinks {
  padding: 60px 0;
  background: #f7f7f7;
}

@media only screen and (max-width: 600px) {
  #moreLinks {
    padding: 30px 0;
  }
}

#moreLinks h3 {
  font-size: 1.2em;
}

#moreLinks ul {
  padding-left: 0;
}

#moreLinks ul li {
  list-style: none;
  line-height: 2;
  color: #767676;
  font-size: 0.95em;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

#moreLinks ul li.viewAll {
  color: #55acee;
}

#moreLinks ul li:hover {
  margin-left: 10px;
  color: #000;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.footer {
  padding: 100px 0px 0px;
  background-color: #030a16;
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 30px 0px 0px;
  }
}

.footer .widget1 p {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
}

.footer .socialLinks {
  margin-top: 28px;
}

.widget1 img {
  margin-left: -25px;
}

@media only screen and (max-width: 600px) {
  .widget1 img {
    height: 60px;
  }
}

.socialLinks ul li {
  display: inline-block;
}

.socialLinks ul li a i {
  display: block;
  margin: 0 2px;
  width: 40px;
  height: 40px;
  background: #fafafa;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
  line-height: 40px;
  transition: all 0.3s ease-in-out;
}

.socialLinks ul li a .fa-facebook-f {
  color: #4267b2;
}

.socialLinks ul li a .fa-twitter {
  color: #1da1f2;
}

.socialLinks ul li a .fa-google-plus-g {
  color: #dd5044;
}

.socialLinks ul li a .fa-linkedin-in {
  color: #0177b5;
}

.socialLinks ul li a:hover i {
  color: #fff;
}

.socialLinks ul li a:hover .fa-facebook-f {
  background: #4267b2;
}

.socialLinks ul li a:hover .fa-twitter {
  background: #1da1f2;
}

.socialLinks ul li a:hover .fa-google-plus-g {
  background: #dd5044;
}

.socialLinks ul li a:hover .fa-linkedin-in {
  background: #0177b5;
}

footer .logo {
  max-width: 200px;
}

.footer {
  color: rgba(255, 255, 255, 0.6);
}

.footer ul {
  padding-left: 0;
}

.footer ul li {
  list-style: none;
  line-height: 2;
}

.footer .widget2 span {
  color: #3cc091;
}

.footer .widget3 ul li a,
.footer .widget4 ul li a {
  font-size: 0.95em;
  color: rgba(255, 255, 255, 0.6);
  text-transform: capitalize;
  display: block;
}

.footer .widget3 ul li a:hover,
.footer .widget4 ul li a:hover,
.footer .widget2 a:hover p {
  color: #3cc091;
}

.footer h5 {
  margin-bottom: 10px;
  font-weight: 400;
  color: #fff;
  font-size: 1.15em;
  line-height: 32px;
}

.copyRightArea {
  margin-top: 83px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 25px 0px 28px;
}

.copyRightArea p {
  color: rgba(255, 255, 255, 0.6);
}

#foot_btm {
  padding: 20px 0;
  padding-bottom: 0;
}

@media only screen and (max-width: 600px) {
  #foot_btm {
    padding-bottom: 20px;
    text-align: center;
  }
}

#foot_btm span {
  color: #3cc091;
}

#foot_btm .float-right a {
  padding: 0 5px;
}

#foot_btm .float-right a:hover {
  color: #3cc091;
}

:focus {
  outline: none;
}

.widget1 {
  padding-right: 30px;
}

.linksDivider {
  border-left: 1px solid #9a9d95;
  padding-left: 40px;
}

@media only screen and (max-width: 600px) {
  .linksDivider {
    padding-left: 15px;
    border-left: 0 solid #9a9d95;
  }
}

#footJoin {
  background: #0e2a5a;
  padding: 25px 0;
  margin-top: 60px;
}

@media only screen and (max-width: 600px) {
  #footJoin {
    margin-top: 20px;
    text-align: center;
  }
}

#footJoin .viewBtn {
  background: #34a57c;
}

#footJoin .viewBtn:hover {
  background: #2a8665;
}

@media only screen and (max-width: 600px) {
  #footJoin .viewBtn {
    margin-top: 20px;
  }
}

#footJoin .joinText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#footJoin .joinText a {
  color: #3cc091;
}

#footJoin .joinText a:hover {
  color: #fff;
}

#footJoin .joinText p {
  margin-bottom: 0;
  font-size: 1.1em;
}

#footJoin .joinText p a {
  font-size: 1.3em;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */