.container{
    padding: 0 2.5%;
    @include responsive(phone){
        padding: 0 4%;
    }
}
.secGap {
    padding: 100px 0;
    @include responsive(phone){
        padding: 40px 0;
    }
}
.secTitle{
    h1{
        font-size: 2.7em;
        position: relative;
        margin-bottom: 25px;
        padding-bottom: 30px;
        @include responsive(phone){
            font-size: 1.9em;
            margin-bottom: 20px;
            padding-bottom: 25px;
        }
        &::before{
            content: '';
            width: 100px;
            height: 6px;
            background: $primary-color;
            position: absolute;
            bottom: 0;
            @include responsive(phone){
                height: 5px;
                width: 60px;
            }
        }
    }
}

.viewBtn {
    background: darken($secondary-color, 2%);
    padding: 13px 43px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-size: 0.9em;
    &:hover{
        background: darken($secondary-color, 7%);
        color: #fff;
    }
}

.pageTitle{
    margin-bottom: 50px;
    &.titleCenter{
        text-align: center;
        h2{
            &::before{
                left: 45%;
                @include responsive(phone){
                    left: 40%;
                }
            }
        }
    }
    h2{
        font-size: 2.2em;
        position: relative;
        margin-bottom: 15px;
        padding-bottom: 18px;
        font-weight: bolder;
        @include responsive(phone){
            font-size: 1.8em;
            margin-bottom: 15px;
            padding-bottom: 15px;
        }
        &::before{
            content: '';
            width: 100px;
            height: 4px;
            background: #3cc091;
            position: absolute;
            bottom: 0;
            @include responsive(phone){
                height: 3px;
                width: 60px;
            }
        }
    }
    h4{
        margin-top: 0;
        font-size: 16px;
        color: #8c8c8e;
        @include responsive(phone){
            font-size: 14px;
        }
    }
}


#pageBanner {
    .pageBannerInner{
        height: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: #fff;
        background: rgba(50,50,50,0.40);
        h1{
            font-size: 3em;
        }
        h2{
            @include responsive(phone){
                font-size: 1.7em;       
    margin-bottom: 0;
            }
        }
    }
}
.breadcrumb {
    background-color: transparent;
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
    .breadcrumb-item{
        font-size: 1.1em;
        &.active {
            color: #949494;
        }
    }
}