@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Color Variables
$primary-color: #133155;
$secondary-color: #3cc091;
$background-color: #fff;

// footer color
$primary-foot-color: #222;
$secondary-foot-color: #02b7d8;
$secondary-foot-color: #cf051d;

// font variables
$font-stack: 'Poppins', sans-serif;