@import "mediaQueries";
@import "config";

// * {
//     scroll-behavior: smooth;
// }

html {
    height: 100%;
    position: relative;
}

body {
    font-family: $font-stack;
    font-size: 0.95em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375;
    background: #fff;
    @include responsive(phone){
        font-size: 83%;
    }
}

.no-mar-pad {
    margin: 0 !important;
    padding: 0 !important;
}

.no-mar-padright {
    padding-right: 0;
}

.no-mar-padleft {
    padding-left: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    @extend a;
}

a:focus {
    @extend a;
}

p {
    line-height: 1.7;
}

button:focus {
    outline: 0px auto -webkit-focus-ring-color;
}
h1, h2{
    font-weight: 700;
}


h3,
h4 {
    font-weight: 400;
}

// custom font size
h1 {
    font-size: 3em;
    margin: 10px 0;
    font-weight: 600;
}

h2 {
    font-size: 2.7em;
    margin: 10px 0;
    font-weight: 600;
}

h3 {
    font-size: 2em;
    margin: 10px 0;
    line-height: 1.5;
}

h4 {
    font-size: 1.2em;
    margin: 10px 0;
    line-height: 1.5;
}

::-moz-selection {
    background: $primary-color;
    color: #fff;
}

::selection {
    background: $primary-color;
    color: #fff;
}

@import "common";
@import "header/nav";
@import "home/banner";
@import "home/slider";
@import "home/projectTab";
@import "home/story";
@import "pages/contact";
@import "pages/listing";
@import "pages/detail";
@import "footer/foot";